html {
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: normal;
  background-color: #c9b5ab;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
}

nav ol {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  font-size: 1.25rem;
  list-style-type: none;
}

a,
a:link {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

img {
  width: 100%;
}

figcaption {
  font-size: 1.25rem;
  font-style: italic;
  text-align: center;
}

.date {
  font-weight: bold;
  font-size: 1.25rem;
}

main + p {
  font-weight: bold;
}

blockquote {
  font-style: italic;
  font-size: 1.5rem;
}

.chris {
  font-size: .8rem;
}

h2 {
  font-family: "PT Sans";
  font-size: 1.125rem;
  color: #3f1622;
}

body {
  font-family: "PT Serif", regular;
  font-size: 1.25rem;
}

.varieties {
  list-style-type: lower-greek;
}

.serving {
  font-style: italic;
}

.types {
  list-style-type: circle;
}

dt {
  font-weight: bold;
}
